.title {
    font-size: 1.5rem;
    font-weight: bold;
    opacity: 0;
    animation: fadeIn 0.5s ease forwards;
    /* Adjust duration and timing function as needed */
    animation-delay: 1s;
    padding-left: 2rem;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}


.createheader {
    padding: 1rem;
    margin: 1rem;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden; /* Ensure the icon doesn’t overflow the container */
}

.icon {
    position: absolute;
    animation: glide 1s cubic-bezier(0.42, 0, 0.38, 1.06) forwards;
}

@keyframes glide {
    0% {
        right: 1rem;
    }
    100% {
        right: calc(100% - 3rem); /* End position on the left, adjust value based on your container's width */
    }
}

.inputbox {
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}

.input,
.input:focus {
    border: 1px solid #bfb8b8;
}

.inputblog {
    border: 1px solid #bfb8b8;
    padding: 0.5rem;
    min-height: 3rem; /* Initial height */
    resize: vertical; /* Allow vertical resizing by user */
    overflow: auto; /* Show scroll if content exceeds the box size */
    border-radius: 10px;
}

.inputblog:focus {
    border-color: #a0a0a0; /* Change border color on focus for better UX */
    outline: none;
}

.button{
    width: 10%;
}

@media (width<1300px) {
    .button{
        width: 40%;
    }
}

@media (width<350px) {
    .button{
        width: 60%;
    }
}