

.loginform {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: white;
    background-color: black;
    padding-top: 2rem;
}

input {
    padding: 0.7rem;
    border: none;
    border-radius: 10px;
    width: 20%;
}

input:focus{
    border: none;
    outline: none;
}

button {
    padding: 0.8rem 3rem;
    border-radius: 10px;
    border: none;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s ease-in;
}

button:hover{
    color:white;
    background-color: grey;
}

a{
    text-decoration: none;
    color: white;
}


@media (width<600px) {
    input{
        width: 80%;
    }
    
}