select{
    padding: 0.7rem;
    border: none;
    border-radius: 10px;
    width: 21.5%;
    color: #7e7a7a;
}

.input-field::-webkit-inner-spin-button,
.input-field::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.input-field {
  appearance: textfield;
}

select:focus{
    outline: none;
}

@media (width<600px) {
    select{
        width: 85%;
    }
}